header {
  background: #E85472;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
    grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #EB945B;
}

article {
  grid-area: article;
  background: #ffffff;
}

footer {
  grid-area: footer;
 background:  #ECC15F;
}
